h1 {
  margin: 0;
}

h2 {
  padding: 15px 0;
  font-weight: lighter;
}

h3 {
  font-size: 1rem;
  padding-bottom: 5px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

a {
  text-decoration: none;
  letter-spacing: 2px;
	color: map-get($colors, black);
  text-align: center;
}

p {
  font-size: 0.9rem;
  letter-spacing: 1px;
  line-height: 1.6rem;
}

.wText {
  color: red;
  // border: 2px solid red;
  // padding: 5px;
}
